<h1>Login Here</h1>
<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a class="button button--social-login button--facebook" href="api//facebook/login"><i class="icon fa fa-facebook"></i>Login With Facebook</a>
<a class="button button--social-login button--spotify" href="api/spotify/login"><i class="icon fa fa-spotify"></i>Login With Spotify</a>
<a class="button button--social-login button--github" href="api/github/login"><i class="icon fa fa-github"></i>Login With Github</a>
